@import url('https://stijndv.com/fonts/Eudoxus-Sans.css')
@import url('https://fonts.googleapis.com/css2?family=Material+Icons')

$font: Eudoxus Sans, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, sans-serif

body
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  min-height: 100vh

.main
  background-color: #ffffff
  box-sizing: border-box
  column-gap: 1.25rem
  display: grid
  font-family: $font
  grid-template-columns: calc(60% - 0.625rem) calc(40% - 0.625rem)
  max-width: 60vw
  overflow: scroll
  padding: 2.5rem 0
  position: relative

  &--placing-order
    opacity: .6

    &::after
      align-items: center
      content: 'loading...'
      display: flex
      height: 100%
      justify-content: center
      position: absolute
      width: 100%

  &--shows
    grid-template-columns: 100%

  @media screen and (max-width: 1920px)
    max-width: 60vw
  @media screen and (max-width: 1440px)
    max-width: 70vw
  @media screen and (max-width: 1240px)
    max-width: 80vw
  @media screen and (max-width: 1167px)
    max-width: 85vw
  @media screen and (max-width: 1040px)
    max-width: 90vw
  @media screen and (max-width: 960px)
    max-width: 94vw
  @media screen and (max-width: 840px)
    grid-template-columns: 100%
    grid-template-rows: auto
    row-gap: 1.25rem

  .column
    display: flex
    flex-direction: column

small
  font-size: 10px
  font-weight: 500

p,
label
  font-size: 0.925rem

  &.confirmation
    font-weight: 500